@model CitricStore.Models.PLATFORM

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />
<link rel="stylesheet" href="~/Content/Input.css" />
<link href="~/Content/DetailsBank.css" rel="stylesheet" />

<div class="container thandulieu" >

    <h2 class="title">DỮ LIỆU HỆ ĐIỀU HÀNH</h2>

    <h3 class="chitiet">CHI TIẾT</h3>

    <div class="platform">



        <strong>Tên hệ điều hành: </strong>
        @Html.DisplayFor(model => model.NamePlatform)
    </div>


    <p>
        @Html.ActionLink("Sửa", "Edit", new { id = Model.IDPlatform }, new { @class = "btn btn-success" }) |
        @Html.ActionLink("Quay về trang tổng hợp", "Index", null, new { @class = "nonedecor" })
    </p>
</div>
