
@{
    ViewBag.Title = "AppPage";
    Layout = "~/Views/Shared/_Layout_HomePage.cshtml";
}
<link rel="stylesheet" href="~/Content/AppPage.css" />
<link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />

<div class="slideshow">
    <div class="display-container">
        <img class="slides animate-fading" onclick="changeImage()" src="~/Images/nền ứng dụng 1.jpg">
        <img class="slides animate-fading" onclick="changeImage()" src="~/Images/ứng dụng 1.1.jpg">
        <img class="slides animate-fading" onclick="changeImage()" src="~/Images/ứng dụng 1.2.jpg">
        <img class="slides animate-fading" onclick="changeImage()" src="~/Images/ứng dụng 1.3.jpg">
        <!--Nút qua lại-->
        <button class="image-button button-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="image-button button-right" onclick="plusDivs(1)">&#10095;</button>

        <!-- Chấm tròn -->
        <div class="badge" style="width:100%">
            <span class="image-badge" onclick="currentDiv(1)"></span>
            <span class="image-badge" onclick="currentDiv(2)"></span>
            <span class="image-badge" onclick="currentDiv(3)"></span>
            <span class="image-badge" onclick="currentDiv(4)"></span>
        </div>
    </div>

</div>
<script language="Javascript" src="~/Scripts/SlideImageAuto.js"></script>

<table class="col-12 ungdung">
    <tr class="tenungdung">
        <p>SUPRALAND SIX INCHES UNDER</p>
    </tr>
    <tr class="button-game">
        <button type="submit" class="nuttaigame">
            <a href="https://bluemediafiles.homes/url-generator.php?url=KH1TK0eBXmDmljELeo4C+FFvmgHJbc++7psPlN6tioiOAlqFJyJr1Da7TS+/2OydxBiEj9qrLmBRlalrpjeVwHAr6vqfd6J7bAs53bHlBmY=">Download</a>
        </button>
    </tr>
    <tr>
        <td class="danhgia">
            <i class="fa-solid fa-star">1</i>
            <i class="fa-solid fa-star">2</i>
            <i class="fa-solid fa-star">3</i>
            <i class="fa-regular fa-star">4</i>
            <i class="fa-regular fa-star">5</i>
        </td>
    </tr>
    <td>
        <div class="tieudenoidung">
            <p class="tieude">NỘI DUNG</p>
            <p class="noidung">
                “Six Inches Under” là một dự án phụ nhỏ được tạo ra để giới thiệu các thành viên nhóm phát triển mới với các công cụ và quy trình làm việc của chúng tôi. Về cơ bản đó là sự chuẩn bị của chúng tôi cho phần tiếp theo của Supraland.
                Trong khi David Münnich thực hiện trò chơi Supraland đầu tiên một mình khá nhiều, anh ấy có một vai trò nhỏ hơn trong trò chơi này. Nhóm nòng cốt cho việc này có 6 người.
                Khá nhiều người trong nhóm đã xây dựng 1 hoặc 2 khu vực của thế giới trò chơi, và theo nghĩa đó, nó rất thử nghiệm.
                Nó được cho là một DLC nhỏ cho Supraland, nhưng nó hơi khó chịu và ngày càng phức tạp hơn. Thay vì 3 tháng, chúng tôi mất 27 tháng để làm việc này (Supraland 1 đã được phát triển trong 16 tháng).
                Nó có thể được coi là “Supraland 1.5” vì nó vẫn còn rất nhiều thứ từ trò chơi đầu tiên, nhưng đồng thời đó là một thế giới mới với một loạt các cơ chế mới.
            </p>
        </div>
        <div class="tieudechitiet">
            <p class="tieude">CHI TIẾT</p>
            <p class="chitiet">Thể loại: Game, Game Giải đố, Game Góc Nhìn Thứ Nhất, Game Phiêu Lưu</p>
            <p class="chitiet">Kích thước RAM: 8GB</p>
            <p class="chitiet">Ngôn ngữ: Tiếng Anh</p>
            <p class="chitiet">Hệ điều hành: Windows</p>
        </div>

    </td>
</table>

<div class="ungdungkhac">
    <div class="game-list-container">
        <h1 class="game-list-title">CÁC ỨNG DỤNG CÙNG NHÀ PHÁT HÀNH</h1>
        <div class="game-list-wrapper">
            <div class="game-list" id="game-list-scrollbar">
                <div class="game-list-item">
                    <img class="game-list-item-img" src="hình ảnh/ứng dụng 1/nền ứng dụng 1.jpg" alt="">
                    <span class="game-list-item-title">SUPRALAND SIX INCHES UNDER</span>
                </div>
                <div class="game-list-item">
                    <img class="game-list-item-img" src="hình ảnh/ứng dụng 1/nền ứng dụng 1.jpg" alt="">
                    <span class="game-list-item-title">SUPRALAND SIX INCHES UNDER</span>
                </div>
                <div class="game-list-item">
                    <img class="game-list-item-img" src="hình ảnh/ứng dụng 1/nền ứng dụng 1.jpg" alt="">
                    <span class="game-list-item-title">SUPRALAND SIX INCHES UNDER</span>
                </div>
                <div class="game-list-item">
                    <img class="game-list-item-img" src="hình ảnh/ứng dụng 1/nền ứng dụng 1.jpg" alt="">
                    <span class="game-list-item-title">SUPRALAND SIX INCHES UNDER</span>
                </div>
                <div class="game-list-item">
                    <img class="game-list-item-img" src="hình ảnh/ứng dụng 1/nền ứng dụng 1.jpg" alt="">
                    <span class="game-list-item-title">SUPRALAND SIX INCHES UNDER</span>
                </div>
                <div class="game-list-item">
                    <img class="game-list-item-img" src="hình ảnh/ứng dụng 1/nền ứng dụng 1.jpg" alt="">
                    <span class="game-list-item-title">SUPRALAND SIX INCHES UNDER</span>
                </div>
                <div class="game-list-item">
                    <img class="game-list-item-img" src="hình ảnh/ứng dụng 1/nền ứng dụng 1.jpg" alt="">
                    <span class="game-list-item-title">SUPRALAND SIX INCHES UNDER</span>
                </div>
                <div class="game-list-item">
                    <img class="game-list-item-img" src="hình ảnh/ứng dụng 1/nền ứng dụng 1.jpg" alt="">
                    <span class="game-list-item-title">SUPRALAND SIX INCHES UNDER</span>
                </div>
            </div>
        </div>
    </div>
    <div class="ungdungkhac">
        <div class="game-list-container">
            <h1 class="game-list-title">CÁC ỨNG DỤNG TƯƠNG TỰ</h1>
            <div class="game-list-wrapper">
                <div class="game-list" id="game-list-scrollbar">
                    <div class="game-list-item">
                        <img class="game-list-item-img" src="hình ảnh/ứng dụng 1/nền ứng dụng 1.jpg" alt="">
                        <span class="game-list-item-title">SUPRALAND SIX INCHES UNDER</span>
                    </div>
                    <div class="game-list-item">
                        <img class="game-list-item-img" src="hình ảnh/ứng dụng 1/nền ứng dụng 1.jpg" alt="">
                        <span class="game-list-item-title">SUPRALAND SIX INCHES UNDER</span>
                    </div>
                    <div class="game-list-item">
                        <img class="game-list-item-img" src="hình ảnh/ứng dụng 1/nền ứng dụng 1.jpg" alt="">
                        <span class="game-list-item-title">SUPRALAND SIX INCHES UNDER</span>
                    </div>
                    <div class="game-list-item">
                        <img class="game-list-item-img" src="hình ảnh/ứng dụng 1/nền ứng dụng 1.jpg" alt="">
                        <span class="game-list-item-title">SUPRALAND SIX INCHES UNDER</span>
                    </div>
                    <div class="game-list-item">
                        <img class="game-list-item-img" src="hình ảnh/ứng dụng 1/nền ứng dụng 1.jpg" alt="">
                        <span class="game-list-item-title">SUPRALAND SIX INCHES UNDER</span>
                    </div>
                    <div class="game-list-item">
                        <img class="game-list-item-img" src="hình ảnh/ứng dụng 1/nền ứng dụng 1.jpg" alt="">
                        <span class="game-list-item-title">SUPRALAND SIX INCHES UNDER</span>
                    </div>
                    <div class="game-list-item">
                        <img class="game-list-item-img" src="hình ảnh/ứng dụng 1/nền ứng dụng 1.jpg" alt="">
                        <span class="game-list-item-title">SUPRALAND SIX INCHES UNDER</span>
                    </div>
                    <div class="game-list-item">
                        <img class="game-list-item-img" src="hình ảnh/ứng dụng 1/nền ứng dụng 1.jpg" alt="">
                        <span class="game-list-item-title">SUPRALAND SIX INCHES UNDER</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="ungdungkhac">
            <div class="game-list-container">
                <h1 class="game-list-title">CÁC ỨNG DỤNG BẠN CÓ THỂ QUAN TÂM</h1>
                <div class="game-list-wrapper">
                    <div class="game-list" id="game-list-scrollbar">
                        <div class="game-list-item">
                            <img class="game-list-item-img" src="hình ảnh/ứng dụng 1/nền ứng dụng 1.jpg" alt="">
                            <span class="game-list-item-title">SUPRALAND SIX INCHES UNDER</span>
                        </div>
                        <div class="game-list-item">
                            <img class="game-list-item-img" src="hình ảnh/ứng dụng 1/nền ứng dụng 1.jpg" alt="">
                            <span class="game-list-item-title">SUPRALAND SIX INCHES UNDER</span>
                        </div>
                        <div class="game-list-item">
                            <img class="game-list-item-img" src="hình ảnh/ứng dụng 1/nền ứng dụng 1.jpg" alt="">
                            <span class="game-list-item-title">SUPRALAND SIX INCHES UNDER</span>
                        </div>
                        <div class="game-list-item">
                            <img class="game-list-item-img" src="hình ảnh/ứng dụng 1/nền ứng dụng 1.jpg" alt="">
                            <span class="game-list-item-title">SUPRALAND SIX INCHES UNDER</span>
                        </div>
                        <div class="game-list-item">
                            <img class="game-list-item-img" src="hình ảnh/ứng dụng 1/nền ứng dụng 1.jpg" alt="">
                            <span class="game-list-item-title">SUPRALAND SIX INCHES UNDER</span>
                        </div>
                        <div class="game-list-item">
                            <img class="game-list-item-img" src="hình ảnh/ứng dụng 1/nền ứng dụng 1.jpg" alt="">
                            <span class="game-list-item-title">SUPRALAND SIX INCHES UNDER</span>
                        </div>
                        <div class="game-list-item">
                            <img class="game-list-item-img" src="hình ảnh/ứng dụng 1/nền ứng dụng 1.jpg" alt="">
                            <span class="game-list-item-title">SUPRALAND SIX INCHES UNDER</span>
                        </div>
                        <div class="game-list-item">
                            <img class="game-list-item-img" src="hình ảnh/ứng dụng 1/nền ứng dụng 1.jpg" alt="">
                            <span class="game-list-item-title">SUPRALAND SIX INCHES UNDER</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>