
@{
    ViewBag.Title = "Trang admin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
<link rel="stylesheet" href="~/Content/Input.css" />
<div class="container">
   <h5 class="adminpage">BẠN ĐANG ĐĂNG NHẬP VỚI QUYỀN ADMIN!</h5>
</div>

