@using CitricStore.Models
<link href="~/Content/admin.css" rel="stylesheet" />
@foreach (var ud in Model)
{
    <div style="color:white">
        <img class="hinhungdung" src="~/Images/OVERALL/@ud.PicBG" />
        @ud.NameOverall
    </div>
}
