
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}


<div class="container" style="height:800px;">
   <h5 style="text-align:center; color: white; margin-top:20px; font-size:30px;">BẠN ĐANG ĐĂNG NHẬP VỚI VAI TRÒ ADMIN!</h5>



</div>
