
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<link href="~/Content/admin.css" rel="stylesheet" />

<div class="container">
   <h5 class="tieude">BẠN ĐANG ĐĂNG NHẬP VỚI QUYỀN ADMIN!</h5>

</div>
