
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}


<div class="container">
   <h5 style="text-align:center; color: white; margin-top:20px; font-size:30px;">BẠN ĐANG ĐĂNG NHẬP VỚI QUYỀN ADMIN!</h5>

</div>
