@using CitricStore.Models
@{
    ViewBag.Title = "Order_KiemTraDonHang";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<div class="container col-lg-6 col-md-12" style="margin:0px auto;">
    <h2 style="text-align: center; color:white;">TÌNH TRẠNG ĐƠN HÀNG</h2>
    <div style="color:white; font-size:18px;">
        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-3">
                    @item.NgayOrder



                </div>
                <div class="col-4">
                    @Html.Action("Order_DonHang", "Admin", new { idor = item.MaOrder })

                </div>

                <div class="col-3">
                    Tình trạng đơn hang: @item.TinhTrangXuLy
                </div>
                <div class="col-2">
                    @Html.ActionLink("Xử Lý Đơn Hàng","Order_XuLyDonHang", new {idor = item.MaOrder })
                </div>


            }

        </div>


    </div>
</div>


