
use CitricStore
Go

--TẠO BẢNG
Create table PUBLISHER
(
	IDPublisher int Identity(1,1),
	NamePublisher  nvarchar(max) not null,
	constraint PK_PUBLISHER primary key (IDPublisher)
)

Create table CATEGORY
(
	IDCat int identity(1,1),
	NameCat nvarchar(50) not null,
	constraint PK_CATEGORY primary key (IDCat)
)

Create table CATEGORY_GAME
(
	IDCatGame int identity(1,1),
	NameCatGame nvarchar(50) not null,
	constraint PK_CATEGORYGAME primary key (IDCatGame)
)

Create table CATEGORY_SOFTWARE
(
	IDCatSoft int identity(1,1),
	NameCatSoft nvarchar(50) not null,
	constraint PK_CATEGORYSOFTWARE primary key (IDCatSoft)
)

 Create table PLATFORM
(
	IDPlatform	int identity(1,1),
	NamePlatform nvarchar(50) not null,
	constraint PK_PLATFORM primary key (IDPlatform)
)

 Create table LANGUAGE
(
	IDLanguage	int identity(1,1),
	NameLanguage	nvarchar(70) not null,
	constraint PK_LANGUAGE primary key (IDLanguage)
)

 Create table CUSTOMER
 (
	IDCus INT IDENTITY(1,1),
	NameCus nVarchar(50) NOT NULL,
	PhoneCus Varchar(10) not  null,
	EmailCus Varchar(50) not null UNIQUE,
	LogName Varchar(15) not null UNIQUE,
	LogPass Varchar(15) NOT NULL,
	Birthday datetime,
	Sex nvarchar(3),
	CONSTRAINT PK_CUSTOMER PRIMARY KEY(IDCus)
 )

Create table SOFTWARE
(
	IDSoft int Identity(1,1),
	NameSoft nvarchar(100) not null,
	Description ntext,
	Capacity nvarchar(10),
	IDCatSoft int,
	IDPublisher int,
	IDPlatform int,
	IDLanguage int,
	UpdateDate datetime,
	Rating nvarchar(5),
	Price decimal(18,2),
	PicBG nvarchar(30),
	PicDetail1 nvarchar(30),
	PicDetail2 nvarchar(30),
	PicDetail3 nvarchar(30),
	PicDetail4 nvarchar(30),
	
	constraint PK_SOFTWARE primary key (IDSoft)
)

Create table GAME
(
	IDGame int Identity(1,1),
	NameGame nvarchar(100) not null,
	Description ntext,
	Capacity nvarchar(10),
	IDCatGame int,
	IDPublisher int,
	IDPlatform int,
	IDLanguage int,
	UpdateDate datetime,
	Rating nvarchar(5),
	Price decimal(18,2),
	PicBG nvarchar(30),
	PicDetail1 nvarchar(30),
	PicDetail2 nvarchar(30),
	PicDetail3 nvarchar(30),
	PicDetail4 nvarchar(30),
	
	constraint PK_GAME primary key (IDGame)
)

Create table OVERALL
(
	IDOverall int Identity(1,1),
	NameOverall nvarchar(100) not null,
	Description ntext,
	Capacity nvarchar(10),
	IDCat int,
	IDPublisher int,
	IDPlatform int,
	IDLanguage int,
	UpdateDate datetime,
	Rating nvarchar(5),
	Price decimal(18,2),
	PicBG nvarchar(30),
	PicDetail1 nvarchar(30),
	PicDetail2 nvarchar(30),
	PicDetail3 nvarchar(30),
	PicDetail4 nvarchar(30),
	SoftOrGame nvarchar(10),
	constraint PK_Overall primary key (IDOverall)
)

 Create table ORDER_INFO
 (
	IDOrder int identity(1,1),
	DateOrder datetime not null,
	IDCus int not null,
	NameOrder nvarchar(max) not null,
	PhoneOrder varchar(10) not null,
	EmailOrder varchar(50) not null,
	IDBank int not null,
	IDPayAccount varchar(20) not null,
	NamePayAccount nvarchar(max) not null,
	TotalPrice decimal(18,2),
	IDSttOrder int,
	Constraint PK_ORDERINFO primary key (IDOrder)
 )

 Create table ORDER_PRODUCT
 (
	ID int identity(1,1),
	IDOverall int,
	IDOrder int,
	Quantity int,
	Price decimal (18,2),
	constraint PK_ORDERPRODUCT primary key (ID)
 )

 Create table ORDER_STATUS
 (
	IDStt int identity(1,1),
	NameStt nvarchar(max) not null,
	constraint PK_ORDERSTATUS primary key(IDStt)
 )

Create table BANK
(
	IDBank int identity(1,1),
	NameBank nvarchar(Max),
	constraint PK_BANK primary key (IDBank)
)





 --KHOÁ NGOẠI
 Alter table SOFTWARE add constraint FK_SOFTWARE_PUBLISHER
					 foreign key (IDPublisher)
					 references PUBLISHER (IDPublisher) 
 Alter table SOFTWARE add constraint FK_SOFTWARE_CATEGORYSOFTWARE
					 foreign key (IDCatSoft)
					 references CATEGORY_SOFTWARE (IDCatSoft) 
 Alter table SOFTWARE add constraint FK_SOFTWARE_LANGUAGE
					 foreign key (IDLanguage)
					 references LANGUAGE (IDLanguage) 
 Alter table SOFTWARE add constraint FK_SOFTWARE_PLATFORM
					 foreign key (IDPlatform)
					 references PLATFORM (IDPlatform) 

 Alter table GAME add constraint FK_GAME_PUBLISHER
					 foreign key (IDPublisher)
					 references PUBLISHER (IDPublisher) 
 Alter table GAME add constraint FK_GAME_CATEGORYGAME
					 foreign key (IDCatGame)
					 references CATEGORY_GAME (IDCatGame) 
 Alter table GAME add constraint FK_GAME_LANGUAGE
					 foreign key (IDLanguage)
					 references LANGUAGE (IDLanguage) 
 Alter table GAME add constraint FK_GAME_PLATFORM
					 foreign key (IDPlatform)
					 references PLATFORM (IDPlatform) 

 Alter table OVERALL add constraint FK_OVERALL_PUBLISHER
					 foreign key (IDPublisher)
					 references PUBLISHER (IDPublisher) 
 Alter table OVERALL add constraint FK_OVERALL_LANGUAGE
					 foreign key (IDLanguage)
					 references LANGUAGE (IDLanguage) 
 Alter table OVERALL add constraint FK_OVERALL_PLATFORM
					 foreign key (IDPlatform)
					 references PLATFORM (IDPlatform) 
 Alter table OVERALL add constraint FK_OVERALL_CATEGORY
					 foreign key (IDCat)
					 references CATEGORY (IDCat) 

 Alter table ORDER_PRODUCT add constraint FK_ORDERPRODUCT_ORDERINFO
							foreign key (IDOrder)
							references ORDER_INFO (IDOrder) 
 Alter table ORDER_PRODUCT add constraint FK_ORDERPRODUCT_OVERALL
							foreign key (IDOverall)
							references OVERALL (IDOverall) 

 Alter table ORDER_INFO add constraint FK_ORDERINFO_CUSTOMER
						foreign key (IDCus)
						references CUSTOMER (IDCus) 
 Alter table ORDER_INFO add constraint FK_ORDERINFO_ORDERSTATUS
						foreign key (IDSttOrder)
						references ORDER_STATUS (IDStt)
 Alter table ORDER_INFO add constraint FK_ORDERINFO_BANK
						foreign key (IDBank)
						references BANK (IDBank)


-- TẠO CỘT TRONG BẢNG
alter table overall
add LinkTai ntext

-- XOÁ CỘT TRONG BẢNG
alter table game
drop column LinkTai

-- XOÁ DÒNG TRONG BẢNG
delete from OVERALL
where Ma > 1

-- CẬP NHẬT DỮ LIỆU
Update OVERALL
set SoftOrGame = N'Game'
where IDOverall > 27


-- TABLE: BANK

Set identity_insert [dbo].[BANK] on
insert [dbo].[Bank] ([IDBank],[NameBank])
values (1, N'Ngân hàng TMCP Kỹ Thương Việt Nam (Techcombank)')
insert [dbo].[Bank] ([IDBank],[NameBank])

values (2, N'Ngân hàng TMCP Á Châu (ACB)')
insert [dbo].[Bank] ([IDBank],[NameBank])
values (3, N'Ngân hàng TMCP Đầu tư và Phát triển Việt Nam (BIDV)')
Set identity_insert [dbo].[BANK] off

-- Input HDH
Select * from HEDIEUHANH
SET IDENTITY_INSERT [dbo].[PLATFORM] ON 
INSERT [dbo].[PLATFORM] ([IDPlatform], [NamePlatform]) 
VALUES (1, N'IOS')
INSERT [dbo].[PLATFORM] ([IDPlatform], [NamePlatform]) 
VALUES (2, N'Android')
INSERT [dbo].[PLATFORM] ([IDPlatform], [NamePlatform]) 
VALUES (3, N'MacOS')
SET IDENTITY_INSERT [dbo].[PLATFORM] OFF


-- Input Ngôn ngữ
SET IDENTITY_INSERT [dbo].[LANGUAGE] ON 

INSERT [dbo].[LANGUAGE] ([IDLanguage], [NameLanguage]) VALUES (1, N'Tiếng Việt')
INSERT [dbo].[LANGUAGE] ([IDLanguage], [NameLanguage]) VALUES (2, N'Tiếng Anh')
INSERT [dbo].[LANGUAGE] ([IDLanguage], [NameLanguage]) VALUES (3, N'Tiếng Thái')
SET IDENTITY_INSERT [dbo].[LANGUAGE] OFF


-- Input NPH
SET IDENTITY_INSERT [dbo].[PUBLISHER] ON 
INSERT [dbo].[PUBLISHER] ([IDPublisher], [NamePublisher]) VALUES (1, N'Traveloka')
INSERT [dbo].[PUBLISHER] ([IDPublisher], [NamePublisher]) VALUES (2, N'Supra Games UG')
INSERT [dbo].[PUBLISHER] ([IDPublisher], [NamePublisher]) VALUES (3, N'Công Ty Cổ Phần SNK')

SET IDENTITY_INSERT [dbo].[PUBLISHER] OFF



-- Input values THELOAIGAME + THELOAIAPP
SET IDENTITY_INSERT [dbo].[CATEGORY_GAME] ON 
INSERT [dbo].[CATEGORY_GAME] ([IDCatGame], [NameCatGame]) 
VALUES (1, N'Giải Đố')
INSERT [dbo].[CATEGORY_GAME] ([IDCatGame], [NameCatGame]) 
VALUES (2, N'Phiêu Lưu')
INSERT [dbo].[CATEGORY_GAME] ([IDCatGame], [NameCatGame]) 
VALUES (3, N'3D')

SET IDENTITY_INSERT [dbo].[CATEGORY_GAME] OFF


SET IDENTITY_INSERT [dbo].[CATEGORY_SOFTWARE] ON 
INSERT [dbo].[CATEGORY_SOFTWARE] ([IDCatSoft], [NameCatSoft]) 
VALUES (15, N'Marketing')
INSERT [dbo].[CATEGORY_SOFTWARE] ([IDCatSoft], [NameCatSoft]) 
VALUES (16, N'Mạng Xã Hội')
INSERT [dbo].[CATEGORY_SOFTWARE] ([IDCatSoft], [NameCatSoft]) 
VALUES (17, N'Dịch Vụ Đặt Đồ Ăn')

SET IDENTITY_INSERT [dbo].[CATEGORY_SOFTWARE] OFF


-- TABLE: CATEGORY
SET IDENTITY_INSERT [dbo].[CATEGORY] ON 

INSERT [dbo].[CATEGORY] ([IDCat], [NameCat]) VALUES (1, N'Giải Đố')
INSERT [dbo].[CATEGORY] ([IDCat], [NameCat]) VALUES (2, N'Phiêu Lưu')
INSERT [dbo].[CATEGORY] ([IDCat], [NameCat]) VALUES (3, N'3D')
SET IDENTITY_INSERT [dbo].[CATEGORY] OFF


-- TABLE: SOFTWARE
Select * from software
SET IDENTITY_INSERT [dbo].[SOFTWARE] ON 

INSERT [dbo].[SOFTWARE] ([IDSoft], [NameSoft], [Description], [Capacity], [LinkTai], [IDCatSoft], [IDPublisher], [IDPlatform], [IDLanguage], [UpdateDate], [Rating], [PicBG], [PicDetail1], [PicDetail2], [PicDetail3], [PicDetail4], [Price]) VALUES (2, N'HAPPY COW', N'HappyCow là một dịch vụ trực tuyến liệt kê các nguồn thực phẩm thuần chay , ăn chay và tốt cho sức khỏe.', N'100', NULL, 17, 9, 6, 2, CAST(N'2022-10-19T00:00:00.000' AS DateTime), N'4', N'BGAPP8.jpg', N'APP8.1.jpg', N'APP8.2.jpg', N'APP8.3.jpg', N'APP8.4.jpg', CAST(247750.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[SOFTWARE] OFF

-- TABLE: GAME
SET IDENTITY_INSERT [dbo].[GAME] ON 

SET IDENTITY_INSERT [dbo].[GAME] OFF


SET IDENTITY_INSERT [dbo].[GAME] ON 

SET IDENTITY_INSERT [dbo].[GAME] OFF


-- TABLE: OVERALL
Select * from OVERALL

SET IDENTITY_INSERT [dbo].[OVERALL] ON 


INSERT [dbo].[OVERALL] ([IDOverall], [NameOverall], [Description], [Capacity], [LinkTai], [IDCat], [IDPublisher], [IDPlatform], [IDLanguage], [UpdateDate], [Rating], [PicBG], [PicDetail1], [PicDetail2], [PicDetail3], [PicDetail4], [Price]) 
VALUES (2, N'HAPPY COW', N'HappyCow là một dịch vụ trực tuyến liệt kê các nguồn thực phẩm thuần chay , ăn chay và tốt cho sức khỏe.', N'100', NULL, 17, 9, 6, 2, CAST(N'2022-10-19T00:00:00.000' AS DateTime), N'4', N'BGAPP8.jpg', N'APP8.1.jpg', N'APP8.2.jpg', N'APP8.3.jpg', N'APP8.4.jpg', CAST(247750.00 AS Decimal(18, 2)))






SET IDENTITY_INSERT [dbo].[OVERALL] OFF


use CitricStore
SELECT * FROM ORDER_INFO

select * from Archive_order_info

SELECT * FROM ORDER_PRODUCT

