@model CitricStore.Models.CUSTOMER

@{
    ViewBag.Title = "FogotPass";
    Layout = "~/Views/Shared/_Layout_HomePage.cshtml";
}
<link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />

<div class="container col-lg-5 col-md-11" style="margin:0px auto;">
    <h2 style="text-align: center; color:white">QUÊN MẬT KHẨU ?</h2>
    <h2 style="color: #FCAE03; margin: 0px auto; font-size: 20px;">@ViewBag.ThongBao</h2>

    <div style="color:white; font-size:18px;">

        @using (Html.BeginForm("FogotPass", "Users"))
        {
            @Html.ValidationSummary(true)
            <div class="mb-3 mt-3">
                <label for="name" class="form-label">Tên đăng nhập:</label>
                <input type="text" class="form-control" id="name" name="LogName" required>
            </div>
            <div class="mb-3 mt-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" id="email" name="Email" required>
            </div>

            <div class="row">

                <button type="submit" class="btn btn-dark">Đặt lại mật khẩu</button>

                @Html.ActionLink("Quay về trang đăng nhập", "Login", "Users")


            </div>
        }

    </div>
</div>