
@{
    ViewBag.Title = "Đăng Ký";
    Layout = "~/Views/Shared/_Layout_HomePage.cshtml";
}
<link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />
<style>
    .register-btn {
        width: 46%;
        margin-left: 10px;
    }
</style>

<div class="container col-lg-5 col-md-11" style="margin:0px auto;">
    <h2 style="text-align: center; color:white">ĐĂNG KÝ THÀNH VIÊN</h2>
    <div style="color:white; font-size:18px;">
        @using (Html.BeginForm("Register", "Users"))
        {
            @Html.ValidationSummary(true)
            <div class="mb-3 mt-3">
                <label for="name" class="form-label">Họ và Tên:</label>
                <input type="text" class="form-control" id="name" name="HoTenKH" required>
            </div>

            <div class="mb-3 mt-3">
                Giới tính:
                <input type="radio" id="sex_1" name="GioiTinh" value="Nữ" style="margin-left: 20px">
                <label class="form-label" for="sex_1"> Nữ </label>

                <input type="radio" id="sex_2" name="GioiTinh" value="Nam" style="margin-left: 20px">
                <label class="form-label" for="sex_2"> Nam </label>

            </div>

            <div class="mb-3 mt-3">
                <label for="phonenum" class="form-label">Số điện thoại:</label>
                <input type="text" class="form-control" id="phonenum" name="DienthoaiKH" required>
            </div>
            <div class="mb-3 mt-3">
                <label for="birthday" class="form-label">Ngày sinh:</label>
                <input type="date" class="form-control" id="birthday" name="Ngaysinh" required>
            </div>
            <div class="mb-3 mt-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" id="email" name="Email" required>
            </div>

            <div class="mb-3 mt-3">
                <label for="username" class="form-label">Tên đăng nhập: </label>
                <input type="text" class="form-control" id="username" name="TenDN" required>
            </div>
            <div class="mb-3 mt-3">
                <label for="pass" class="form-label">Mật khẩu: </label>
                <input type="password" class="form-control" id="pass" name="Matkhau" required>
            </div>

            <div class="row">

                <button type="submit" class="btn btn-dark" style="width:46%; margin-left:16px">Đăng Ký</button>

                @Html.ActionLink("Đăng Nhập", "Login", null, new { @class = "btn btn-dark register-btn" })
            </div>
        }
    </div>
</div>