@model CitricStore.Models.LANGUAGE

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />
<link rel="stylesheet" href="~/Content/Input.css" />

<div class="container col-lg-6 col-md-10" style="margin: 0px auto;align-items:center">

    <h2 style="text-align: center; color:white">DỮ LIỆU NGÔN NGỮ</h2>

    <h3 style="text-align: center; color: white">XOÁ DỮ LIỆU</h3>

    <div class="platform">



        <strong>Tên ngôn ngữ: </strong>
        @Html.DisplayFor(model => model.NameLanguage)
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xoá" class="btn btn-info" /> |
            @Html.ActionLink("Quay về trang tổng hợp", "Index", null, new { @class = "nonedecor" })
        </div>
    }
</div>
