@model CitricStore.Models.LANGUAGE

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
<link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />
<link rel="stylesheet" href="~/Content/Input.css" />
<style>
    td {
        text-align: center;
        padding-bottom: 10px;
    }
</style>

<div class="container" style="margin: 10px auto; ">


    <h2 style="text-align: center; color:white">DỮ LIỆU NGÔN NGỮ</h2>

    <h3 style="text-align: center; color: white">CHI TIẾT</h3>


    <div class="platform">



        <strong>Tên ngôn ngữ: </strong>
        @Html.DisplayFor(model => model.NameLanguage)
    </div>
    <p>
        @Html.ActionLink("Sửa", "Edit", new { id = Model.IDLanguage}, new { @class = "btn btn-success" }) |
        @Html.ActionLink("Quay về trang tổng hợp", "Index", null, new { @class = "nonedecor" })
    </p>
</div>