<link href="~/Content/CartPartial.css" rel="stylesheet" />
<a href="@Url.Action("GetCartInfo", "Cart")" class="getcartinfo">
    <img src="~/Images/LOGO/Cart.png" class="hinhanhcart"/> (@ViewBag.TotalNumber)
</a>
