<a href="@Url.Action("GetCartInfo", "Cart")" style="text-decoration: none; color: black; font-weight: bold; font-size:16px">
    <img src="~/Images/LOGO/Cart.png" style="width:30px; height:30px;"/> (@ViewBag.TotalNumber)
</a>
