
@{
    ViewBag.Title = "Page_PaymentSuccess";
    Layout = "~/Views/Shared/_Layout_HomePage.cshtml";
}

<div class="container" style="color:white; text-align:center; min-height:900px; font-size:45px; margin-top:50px;">
    <h2>Bạn đã thanh toán thành công!</h2>


</div>

