
@{
    ViewBag.Title = "Thanh toán thành công";
    Layout = "~/Views/Shared/_Layout_HomePage.cshtml";
}
<link rel="stylesheet" href="~/Content/User.css" />
<link href="~/Content/Page_PaymentSuccess.css" rel="stylesheet" />

<div class="container col-lg-10 col-md-12 camonkhachhang">
    <h2 class="xacnhandonhangthanhcong">Thanh toán thành công!</h2>
    <p class="loicamonkhachhang"> Chúng tôi sẽ bàn giao ứng dụng đến tài khoản của bạn trong thời gian sớm nhất.</p>
    <h2 class="loicamonkhidungweb">   Cảm ơn bạn đã lựa chọn CitricStore!  </h2>
    <p class="thacmaclienhe">Mọi chi tiết thắc mắc vui lòng liên hệ qua: <strong>citricstore@gmail.com</strong> </p>
    <br />
    <div class="row justify-content-center tieptuc">
    <a class="continue" href="@Url.Action("HomePage","CitricStore")">
        Tiếp tục mua sắm
    </a>
    </div>
</div>

