@using CitricStore.Models

@foreach (var app in Model)
{
    <div class="game-list-item">
        <img class="game-list-item-img" src="~/Images/APP/@app.HinhNen" alt="">

        <span class="game-list-item-title">@app.TenApp</span>
    </div>

}
