@using CitricStore.Models;

@foreach (var game in Model)
{
    <div class="game-list-item">
        <a href="@Url.Action("DetailsApp", "CitricStore", new { id = game.MaApp })">
            <img class="game-list-item-img" src="~/Images/APP/@game.HinhNen" alt="Card Image">
            <span class="game-list-item-title" style="color:white">@game.TenApp</span>
        </a>
    </div>
}