@using CitricStore.Models

@{ 
    ViewBag.Title = "Cửa hàng ứng dụng";
    Layout = "~/Views/Shared/_Layout_HomePage.cshtml";
}
<link rel="stylesheet" href="~/Content/HomePage.css" />
<link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />
<script src="~/Content/bootstrap5/js/bootstrap.js"></script>

<div class="slideshow">
    <div class="display-container">
        <div class="slides">
            <img class="imageslides animate-fading" onclick="changeImage()" src="~/Images/LOGO/HalloweenBG.jpg">
        </div>
        <div class="slides">
            <img class="imageslides animate-fading" onclick="changeImage()" src="~/Images/LOGO/HalloweenBG1.jpg">
        </div>
        <div class="slides">
            <img class="imageslides animate-fading" onclick="changeImage()" src="~/Images/LOGO/HalloweenBG2.jpg">
        </div>
        <!--Nút qua lại-->
        <button class="image-button button-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="image-button button-right" onclick="plusDivs(1)">&#10095;</button>
        <!-- Chấm tròn -->
        <div class="badge chamtron">
            <span class="image-badge" onclick="currentDiv(1)"></span>
            <span class="image-badge" onclick="currentDiv(2)"></span>
            <span class="image-badge" onclick="currentDiv(3)"></span>
        </div>
    </div>
</div>
<script language="Javascript" src="~/Scripts/HomePage.js"></script>
<!-- Bắt đầu: Game Mới -->
<div class="dexuat-container">
    <div class="dexuat-name">
        <div class="line"></div>
        <span>TRÒ CHƠI MỚI</span>
        <div class="line"></div>
    </div>
    <div class="container-fluid">
        <div class="row">
            @Html.Action("HomePage_NewGame","CitricStore")
        </div>
    </div>
</div>
<!-- Kết thúc: Game Mới -->
<!-- Bắt đầu: Game Đề Xuất (lọc theo đánh giá)-->
<div class="dexuat-container">
    <div class="dexuat-name">
        <div class="line"></div>
        <span>TRÒ CHƠI ĐỀ XUẤT</span>
        <div class="line"></div>
    </div>
    <div class="container-fluid">
        <div class="row">
            @Html.Action("HomePage_SuggestGame", "CitricStore")
        </div>
    </div>
</div>
<!-- Kết thúc: Game Đề Xuất -->
<!-- Bắt đầu: Phần Mềm Mới-->
<div class="dexuat-container">
    <div class="dexuat-name">
        <div class="line"></div>
        <span>PHẦN MỀM MỚI</span>
        <div class="line"></div>
    </div>
    <div class="container-fluid">
        <div class="row">
            @Html.Action("HomePage_NewSoftware", "CitricStore")
        </div>
    </div>
</div>
<!-- Kết thúc: Phần Mềm Mới -->
<!-- Bắt đầu: Phần Mềm Đề Xuất-->
<div class="dexuat-container">
    <div class="dexuat-name">
        <div class="line"></div>
        <span>PHẦN MỀM ĐỀ XUẤT</span>
        <div class="line"></div>
    </div>
    <div class="container-fluid">
        <div class="row">
            @Html.Action("HomePage_SuggestSoftware", "CitricStore")
        </div>
    </div>
</div>
<!-- Kết thúc: Phần Mềm Đề Xuất-->
