@using CitricStore.Models

    @foreach (var theloai in Model)
    {
    <a href="@Url.Action("Page_AppTheoTheLoai","CitricStore", new {id=theloai.IDCatSoft })"
       class="dropdown-item" style="word-break:break-all">
        @theloai.NameCatSoft
    </a>
    }

