
@{
    ViewBag.Title = "Câu hỏi thường gặp";
    Layout = "~/Views/Shared/_Layout_HomePage.cshtml";
}
<link href="~/Content/Page_FAQ.css" rel="stylesheet" />


<h1 style="color:white; text-align:center">CÂU HỎI THƯỜNG GẶP</h1>

<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <ul class="CauHoiThuongGap">
            <li class="CauHoi">
                Câu hỏi 1: Tôi có thể thay đổi ngôn ngữ hiển thị của Citric Store bằng cách nào?
                <div class="cauhoi1">
                    Bạn chọn vào phần tài khoản, sau đó chọn phần ngôn ngữ, chọn ngôn ngữ bạn muốn thay đổi vào bấm xác nhận. Sau đó, trang web sẽ tự thay đổi ngôn ngữ theo ngôn ngữ mà bạn đã thay đổi.
                </div>

            </li>

            <li class="CauHoi">
                Câu hỏi 2: Tôi có thể thay đổi thông tin đăng ký tài khoản của mình tại đâu?
                <div class="cauhoi1">
                    Bước 1: Click vào phần tài khoản ở góc bên phải trên cùng.
                </div>
                <div class="cauhoi1">
                    Bước 2: Click chọn vào phần thay đổi thông tin khách hàng.
                </div>
                <div class="cauhoi1">
                    Bước 3: Sau khi bạn đã thay đổi thông tin xong thì nhấn nút xác nhận để hệ thống cập nhật thông tin bạn vừa thay đổi.
                </div>

            </li>

            <li class="CauHoi">
                Câu hỏi 3: Làm cách nào để xóa tài khoản của tôi?
                <div class="cauhoi1">
                    Bạn chọn vào phần tài khoản và ấn chọn xóa tài khoản của tôi và bấm xác nhận
                </div>

            </li>

            <li class="CauHoi">
                Câu hỏi 4: Làm thế nào để tải game hoặc ứng dụng?
                <div class="cauhoi1">
                    Bước 1: Click vào phần tài khoản ở góc bên phải trên cùng.
                </div>
                <div class="cauhoi1">
                    Bước 2: Click chọn vào phần thay đổi thông tin khách hàng.
                </div>
                <div class="cauhoi1">
                    Bước 3: Sau khi bạn đã thay đổi thông tin xong thì nhấn nút xác nhận để hệ thống cập nhật thông tin bạn vừa thay đổi.
                </div>
            </li>

            <li class="CauHoi">
                Câu hỏi 5: làm cách nào để tôi có thể xem lịch sử mua hàng?
            </li>

            <li class="CauHoi">
                Câu hỏi 6: Tôi có thể thực hiện những thao tác nào trên trang ứng dụng?
                <div class="cauhoi1">
                    Bạn có thể xem ứng dụng hoặc game, chọn game hoặc ứng dụng yêu thích, tải về
                </div>
            </li>

            <li class="CauHoi">
                Câu hỏi 7: Làm sao để biết khi nào ứng dụng đã tải xong?
                <div class="cauhoi1">
                    Khi ứng dụng hoặc trò chơi của bạn đã tải hoàn tất sẽ hiển thị lên thông báo “ Ứng dụng hoặc trò chơi của bạn đã được tải xuống hoàn tất”
                </div>
            </li>

            <li class="CauHoi">
                Câu hỏi 8: Khi gặp sự cố tôi có thể liên hệ những ai để khắc phục sự cố?
                <div class="cauhoi1">
                    Khi gặp sự cố thì bạn có thể liên hệ với nhân viên qua mục chăm sóc khách hàng.
                </div>
            </li>

            <li class="CauHoi">
                Câu hỏi 9: Có giới hạn số lượng tài khoản trên 1 thiết bị hay không?
                <div class="cauhoi1">
                    Bạn có thể thiết lập tối đa 15 tài khoản.
                </div>
            </li>

            <li class="CauHoi">
                Câu hỏi 10: Làm cách nào để có thể chuyển đổi các tài khoản của android, ios, windows?
                <div class="cauhoi1">
                    Bạn có thể xem ứng dụng hoặc game, chọn game hoặc ứng dụng yêu thích, tải về
                </div>
            </li>

            <li class="CauHoi">
                Câu hỏi 11: Tôi có thể chuyển đổi tài khoản bằng cách nào?
                <div class="cauhoi1">
                    Chọn thẻ "Tài khoản" ở trên bên phải:
                </div>
                <ul style="padding-left:70px;">
                    <li>
                        Mở màn hình "Chuyển đổi Tài khoản"
                    </li>
                    <li>
                        Chọn tài khoản bạn muốn chuyển đổi sang
                    </li>
                </ul>

            </li>

            <li class="CauHoi">
                Câu hỏi 12: Khi sử dụng quá nhiều tài khoản thì thông báo đẩy sẽ như thế nào?
                <ul class="cauhoi1">
                    <li>
                        Bạn có thể nhận được thông báo đẩy cho mọi tài khoản đã đăng ký với chức năng nhiều tài khoản.
                    </li>
                    <li>
                        Bạn có thể tùy chỉnh các cài đặt thông báo đẩy cho từng tài khoản. Vui lòng tham khảo về cài đặt thông báo đẩy bên dưới.
                    </li>
                </ul>
            </li>

            <li class="CauHoi">
                Câu hỏi 13: Tôi không thể khởi động ứng dụng từ thông báo gmail?
                <ul class="cauhoi1">
                    <li>
                        Hệ thống của bạn không được hỗ trợ. Chúng tôi xin lỗi vì sự bất tiện này.
                    </li>
                    <li>
                        Ứng dụng này được thiết kế để khởi động từ một trình duyệt trên điện thoại di động.
                    </li>
                </ul>
            </li>

            <li class="CauHoi">
                Câu hỏi 14: Làm cách nào để tôi có thể đặt lại mật khẩu?
                <div class="cauhoi1">
                    Bước 1: Nhấn vào phần tài khoản.
                </div>
                <div class="cauhoi1">
                    Bước 2: Chọn phần cập nhật mật khẩu mới.
                </div>
                <div class="cauhoi1">
                    Bước 3: Sau khi đổi mật khẩu xong bạn cần ấn xác nhận để hệ thống lưu lại, sau đó bạn sẽ được di chuyển đến trang đăng nhập để đăng nhập lại với mật khẩu vừa đổi.
                </div>
            </li>

            <li class="CauHoi">
                Câu hỏi 15: Có thể truy cập trang web trên các thiết bị khác nhau?
                <div class="cauhoi1">
                    Bạn có thể truy cập trang web trên các thiết bị khác nhau, khi truy cập vào thiết bị khác bạn cần bấm vào trang đăng nhập để đăng nhập tài khoản của bạn.
                </div>
            </li>
        </ul>
        <hr />
    </div>
    <h1 style="color: #FCAE03; text-align: center">CHÚC BẠN CÓ TRẢI NGHIỆM TỐT TRÊN CITRIC STORE!</h1>
    <div class="col-1"></div>
</div>
