.th, td {
    text-align: center;
    vertical-align: middle;
}

.thanthongtinkhachhang {
    margin: 0px auto;
}
.tieude {
    text-align: center;
    color: white;
    margin-top: 15px;
}
.chitiet {
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 35px;
}