.thongtinthanhvien {
    margin: 0px auto;
}
.chitiet {
    color: white;
    font-size: 18px;
    align-items: center;
}
.nutgioitinh {
    margin-left: 20px;
}
.nutchinhsua {
    width: 40%;
    margin-top: 20px;
}