.thanquenmatkhau {
    margin: 0px auto;
}

.thongbao {
    color: #FCAE03;
    margin: 0px auto;
    font-size: 20px;
}
.chitiet {
    color: white;
    font-size: 18px;
}
.nutdatlaimatkhau {
    width: 50%;
    margin-top: 5px;
    margin-bottom: 10px;
}