.camonkhachhang {
    color: white;
    text-align: center;
}
.xacnhandonhangthanhcong {
    font-size: 45px;
    margin-top: 50px;
}
.loicamonkhachhang {
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}
.loicamonkhidungweb {
    margin-top: 50px;
}
.thacmaclienhe {
    margin-top: 20px;
}
.tieptuc {
    margin-top: 80px;
}