.thandatlạimatkhau {
    margin: 0px auto;
}
.thongbao {
    color: #FCAE03;
    margin: 0px auto;
    font-size: 20px;
    text-align: center;
}
.thanresetpass {
    color: white;
    font-size: 18px;
}
.tendangnhap {
    margin-top: 15px;
    margin-bottom: 5px;
}
.nutluu {
    width: 30%;
    margin-top: 10px;
}