*{
    margin: 0;
}

.title {
    text-align: center;
    color: white;
    margin-top: 15px
}

/*trang login*/


.ForgotPass {
    color: white;
    text-decoration: none;
}
    .ForgotPass:hover {
        color: #FCAE03;
    }

/*trang fogotpass*/
.comebacklogin {
    color: white;
    text-decoration: none;
    display:flex;
    justify-content:center;
}
    .comebacklogin:hover {
        color: #FCAE03;
        text-decoration:underline solid;
    }

/*trang chỉnh sửa thông tin cá nhân*/
.combackviewinfo {
    color: aliceblue;
    text-decoration: none;
}
.edit-form {
    width: 100%;
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

    .edit-form:focus {
        color: #212529;
        background-color: #fff;
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    }


    .edit-form::-moz-placeholder {
        color: #6c757d;
        opacity: 1;
    }

    .edit-form::placeholder {
        color: #6c757d;
        opacity: 1;
    }
    .form-group{
        align-items:center;
        margin:0px auto;
        
    }

/*trang reset*/

.quayvedangnhap {
    color: aliceblue;
    text-decoration: none;
    width: 45%;
    margin-left: 26px;
}

.error {
    text-decoration: none;
    list-style-type: none;
    color: #FCAE03;
    list-style: none;
}

.resetpass{
    padding-top:5px; padding-bottom:5px;
}

/*Payment Success*/
.continue {
    text-align: center;
    color: white;
    border: 2px solid;
    border-radius: 10px;
    border-color: #FCAE03;
    height: fit-content;
    width: fit-content;
    font-size: 30px;
    text-decoration:none
}
    .continue:hover {
        color: #FCAE03;
        
    }

.nonedecor {
    text-decoration: none;
}

.edit-btn {
    width: 200px;
    font-size: 20px;
    font-weight: 500;
}

.nonedecor:hover {
    color: #FCAE03;
}
