*{
    margin: 0;
}

.login-container {
    height: 500px;
}

.ThanhVien{
    color:aliceblue;
}

/*trang login*/

.login-btn {
    width: 46%;
    margin-left: 26px;
}

.FotgotPass{
    color:aliceblue;
    text-decoration: none;
    display:flex;
    justify-content:center;
    margin:16px;
}

/*trang fogotpass*/
.comebacklogin {
    color: aliceblue;
    text-decoration: none;
    display:flex;
    justify-content:center;
}

/*trang chỉnh sửa thông tin cá nhân*/
.combackviewinfo {
    color: aliceblue;
    text-decoration: none;
}

/*trang reset*/

.quayvedangnhap {
    color: aliceblue;
    text-decoration: none;
    width: 45%;
    margin-left: 26px;
}

