.thongtin {
    padding-top: 10px;
    padding-bottom: 10px;
}

.edit-btn {
    width: 40%;
    margin: 0px auto;
}
.thanthongtinthanhvien {
    margin: 0px auto;
}
.chitiet {
    color: white;
    font-size: 18px;
    text-align: center;
}