@model CitricStore.Models.PUBLISHER

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />
<link rel="stylesheet" href="~/Content/Input.css" />
<link href="~/Content/delete.css" rel="stylesheet" />

<div class="container col-lg-6 col-md-10 thanxoa" >


    <h2 class="tieude">DỮ LIỆU HỆ ĐIỀU HÀNH</h2>

    <h3 class="tieude">XOÁ DỮ LIỆU</h3>
    <div class="platform">



        <strong>Tên nhà phát hành: </strong>
        @Html.DisplayFor(model => model.NamePublisher)
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xoá" class="btn btn-info" /> |
            @Html.ActionLink("Quay về trang tổng hợp", "Index", null, new { @class = "nonedecor" })
        </div>
    }
</div>