@using CitricStore.Models

@foreach (var item in Model)
{
    <div class="row align-middle">
        <div class="col-lg-5 col-md-5" style="text-align:center">
            @Html.Action("DaMua_UngDung", "Users", new { idud = item.IDOrder })
        </div>
        <div class="col-lg-5 col-md-5 align-middle">
            <strong>Số lượng:</strong> @item.Quantity
            <br />
            <strong>Đơn giá:</strong> @String.Format("{0:0,0}", item.Price)
        </div>
    </div>
}
