@using CitricStore.Models

@foreach(var ud in Model)
{
    <div style="color:white">
        <img style="width:100px; height:50px" src="~/Images/OVERALL/@ud.HinhNen" />
        Tên Ứng Dụng: @ud.Ten

    </div>
}