@using CitricStore.Models

@foreach(var item in Model) 
{
    @Html.Action("DaMua_UngDung","Users", new {idud = item.MaUngDung})

    <div>
        Số lượng: @item.SoLuong

        Đơn giá: @item.DonGia
    </div>


} 
