@using CitricStore.Models



@foreach(var ud in Model)
{
    <div style="color:white;" class="dropdown-toggle">
        <img style="width:100px; height:50px" src="~/Images/OVERALL/@ud.PicBG" />
        Tên Ứng Dụng: @ud.NameOverall
    </div>
}