@model CitricStore.Models.CUSTOMER

@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "~/Views/Shared/_Layout_HomePage.cshtml";
}
<link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />
<link rel="stylesheet" href="~/Content/User.css" />
<link href="~/Content/FogotPass.css" rel="stylesheet" />

<div class="col-lg-6 col-md-10 col-sm-12 thanquenmatkhau">
    <h2 class="title">QUÊN MẬT KHẨU ?</h2>
    <h2 class="thongbao">@ViewBag.ThongBao</h2>

    <div class="chitiet">

        @using (Html.BeginForm("ForgotPass", "Users"))
        {
            @Html.ValidationSummary(true)
            <div class="mb-3 mt-3">
                <label for="name" class="form-label">Tên đăng nhập:</label>
                <input type="text" class="form-control" id="name" name="LogName" required>
            </div>
            <div class="mb-3 mt-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" id="email" name="EmailCus" required>
            </div>

            <div class="row justify-content-center">

                <button type="submit" class="btn btn-dark nutdatlaimatkhau">Đặt lại mật khẩu</button>

                @Html.ActionLink("Đăng nhập", "Login", "Users",null, new {@class = "comebacklogin"})


            </div>
        }

    </div>
</div>