
@{
    ViewBag.Title = "Đăng Nhập";
    Layout = "~/Views/Shared/_Layout_HomePage.cshtml";
}
<link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />
<link rel="stylesheet" href="~/Content/User.css" />
<style>
    .login {
        margin-top: 10px;
        text-decoration: none;
        color: #FCAE03;
    }

        .login:hover {
            color: #FCAE03;
            text-decoration: underline solid;
        }

    .error {
        text-decoration: none;
        list-style-type: none;
        color: #FCAE03;
        list-style: none;
    }
</style>

<div class="container col-lg-6 col-md-10" style="margin:0px auto;">

    <h2 class="title">ĐĂNG NHẬP</h2>
    <h2 style="color: #FCAE03; margin: 0px auto; font-size: 20px; text-align:center">@ViewBag.ThongBao</h2>
    <div style="color:white; font-size:18px;">

        @using (Html.BeginForm("Login", "Users"))
        {
            @Html.ValidationSummary(true)
            <div class="mb-3 mt-3">
                <label for="name" class="form-label">Tên đăng nhập:</label>
                <input type="text" class="form-control" id="name" name="LogName" required>
            </div>
            <div class="mb-3 mt-3">
                <label for="pass" class="form-label">Mật khẩu:</label>
                <input type="password" class="form-control" id="pass" name="LogPass" required>
            </div>
            <div class="row">

                <div class="col-6 justify-content-end align-content-end " style="align-items: end; display:flex;">
                    <button type="submit" class="btn btn-dark" style="width:70%; margin-left:0px">Đăng Nhập</button>

                </div>
                <div class="col-6" style="padding-top:5px;">
                    <a class="ForgotPass" href=@Url.Action("FogotPass", "Users")>
                        Quên mật khẩu ?

                    </a>

                </div>

            </div>

            <hr />
            <p style="text-align:center" >Bạn chưa có tài khoản? @Html.ActionLink("Đăng Ký.", "Register", "Users", null, new { @class = "login" })</p>




        }
    </div>
</div>

