@using CitricStore.Models
<link href="~/Content/DaMua_UngDung.css" rel="stylesheet" />
@foreach (var ud in Model)
{
    <img class="hinhanhoverall" src="~/Images/OVERALL/@ud.PicBG" />
    <br />
    <div>
        @ud.NameOverall
    </div>
}

