@using CitricStore.Models
@model PagedList.IPagedList<CitricStore.Models.ORDER_INFO>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Users_DaMua";
    Layout = "~/Views/Shared/_Layout_HomePage.cshtml";
}

<link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />

<style>
    .login-container {
        height: 700px;
    }

    .login-btn {
        width: 46%;
        margin-left: 10px;
    }

    .pagecolor li {
        text-decoration: none;
        color: white;
        border:solid 1px;
        border-radius: 5px;
        margin-right:6px;
        width: 25px;
        text-align:center;
    }
</style>
<div class="container col-lg-6 col-md-12" style="margin:0px auto;">
    <h2 style="text-align: center; color:white;">ĐƠN HÀNG ĐÃ MUA</h2>
    <div style="color:white; font-size:18px;">
        @foreach (var item in Model)
        {
            <table>
                <tr>
                    <td>
                        @Html.Action("DaMua_Product", "Users", new { idor = item.IDOrder })
                        
                    </td>
                </tr>
            </table>
            <hr />
        }
    </div>

</div>

<br />
<div style="color: aliceblue">

    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

</div>

<div style="color: aliceblue;" class="pagecolor">

    @Html.PagedListPager(Model, page => Url.Action("Users_DaMua", null, new { page}))
</div>



